h1{
    font-family:'Montserrat', sans-serif;
    font-weight:700;
    color:black;
    font-size: 100px;
}

    
h2{
    font-family:'Montserrat', sans-serif;
    font-weight:400;
    text-transform: lowercase;
    color:black;
    font-size: 100px;
}

h3{
    font-family:'Montserrat', sans-serif;
    font-weight:200;
    color:black;
    font-size: 50px;
}
a{font-size: 80px;
    -webkit-text-decoration-skip:objects;
    background-image:linear-gradient(rgba(255,255,0,0) 70%,#ff0 80%,rgba(255,255,0,0) 85%);
    color:#1ab49b;
    text-decoration:none}

a:active,a:hover{
    background-clip:text;
    -webkit-background-clip:text;
    background-image:url("assets/word-lilly.gif");
    color:transparent;
    outline-width:0}
